fastapi
uvicorn
pdfplumber
pandas
python-multipart
pdfminer.six
numpy-financial
pyxirr
asyncpg
psycopg2-binary
google-auth
requests
sqlalchemy
aiosqlite
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
yfinance
numpy
openpyxl
httpx
curl_cffi
